version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      dev-deps:
        applies-to: version-updates
        dependency-type: development
        update-types:
        - "major"
        - "minor"
        - "patch"
      deps:
        applies-to: version-updates
        dependency-type: production
        update-types:
        - "major"
        - "minor"
        - "patch"
    assignees:
      - "pylipp"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions:
        applies-to: version-updates
        dependency-type: production
        update-types:
        - "major"
        - "minor"
        - "patch"
    assignees:
      - "pylipp"
